<h1>{{coach.pageTitle}}</h1>
<p>Here coaches will be able to find places they can find information at how to advance their training through coaching camps or licenses. Descriptions of the events, their costs and links to the events will be posted.</p>
<h2>Coaching Events Posted</h2>
<ul>
  <li>Coaching Camps</li>
  <li>Coaching Licensing</li>
</ul>

<h2>Coaching Directory</h2>
<p>Parents will be able to look online and see if their child's coach is listed as a licensed coach and what level license the coach is listed at and how long they have been coaching.</p>


