<h1>About</h1>
<h2>Grow The Soccer Community</h2>
<p>Build an online community to share information about amateur soccer.</p>
<h2>Enable Players, Coaches and Referees to grow in their knowledge about the game.</h2>
<p>Events will be posted so players, coaches and referees can easily find information about ways to improve their knowledge through local camps and places they can aquire licensing.</p>
<h2>Help People Play Soccer</h2>
<p>Players will be able to find local leagues and teams they can join. An extensive <strong>Player Free Agent</strong> directory will help find the players they need and their <em>general location (zipcode)</em>, <em>level of skill</em>, <em>years of experience </em>and the <em>position they play</em>.</p>
<h2>Directory of Fields Around The World</h2>
<p>Help anyone find the closest field to where they are so they can play soccer anytime they want.</p>
<h2>Player Relationship Management</h2>
<p>A <strong>PRM (Player Relationship Management)</strong> tool facilitates league and team administration. Leagues can now easily create season schedules, maintain team standings, create playoff schedules, collect season fees, desiminate game-time weather information, and provide essential emergency information.</p>
<p>Help coaches to monitor their roster, email players, create starting lineups, collect season fees and communicate informaiton like directions to the field, game time</p>
<h2>Build A Comprehensive Referee Community</h2>
<p>Without referees we would not have a game. Here, players can build their community and share information. Referees can find games to ref. Leagues can use the Referree directory to find refs for their games. The directory will show years of experience and current referee license information.</p>
<h2>Foster Team-to-Team Communication</h2>
<p>Teams will be able to communicate with each other to organize friendlies or travel plans to play teams in other towns, cities or countries.</p>
<h2>Soccer Tournaments</h2>
<p>Teams can find and share travel information, event description, rules and the cost of the event.</p>
<h2>Online Fund Raising</h2>
<p>Teams and Leagues can post ways they can help the community through social events as well as share fund raising information so the local community can contribute in helping these non-profit groups grow.</p>
