<h1>{{gear.pageTitle}}</h1>
<p>This page will list different places to purchase soccer equipment like:</p>
<ul>
  <li>Goalie gloves</li>
  <li>Goalie clothes</li>
  <li>Shinguards</li>
  <li>Uniforms</li>
  <li>Goals</li>
  <li>Practice Equipment</li>
  <li>Warm Up Clothes</li>
  <li>Bags</li>
  <li>Balls</li>
  <li>Cleats</li>
  <li>Indoor Shoes</li>
  <li>Socks</li>
  <li>Shorts</li>
  <li>Shirts</li>
</ul>

<p>Descriptions and prices will be posted. A trusted 3rd party API will use to populate data.</p>

