<h1>{{season.pageTitle}}</h1>

<table class="table table-bordered">
  <thead>
    <tr>
    <th>Name Of Season</th>
    <th>Date Created</th>
    <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="oneSeason in season.mySeasons">
      <td><a href="/seasons/{{ oneSeason._id }}">{{ oneSeason.title }}</a></td>
      <td><a href="/seasons/{{ oneSeason._id }}">{{ oneSeason.date_created | date: fullDate }}</a></td>
      <td><a href="#" ng-href="/seasons/{{ oneSeason._id }}/edit"><i class="fa fa-pencil-square-o"></i></a></td>
      <td><a href="#" ng-click="season.deleteSeason(oneSeason._id)"><i class="fa fa-trash-o"></i></a></td>
    </tr>
  </tbody>
</table>
