    <h1>{{game.pageTitle}}</h1>
<div class="row">
  <div class="col-xs-6">
<form class="form-inline navbar-form pull-left" ng-submit="game.saveSeason()">
      <input class="form-control" type="text" ng-model="game.seasonData.title" placeholder="Search">
      <button class="btn btn-success-outline" type="submit">Update</button>
    </form>
    
    </div>
  <div class="col-xs-6">
    <form class="form-inline navbar-form pull-right">
      <input class="form-control" type="text" ng-model="query" placeholder="Search">
      <button class="btn btn-success-outline" type="submit">Search</button>
    </form>
    
    <div class="row show-hide-message" ng-show="season.message">
      <div class="col-sm-6 col-sm-offset-2">
        <div class="alert alert-info"> {{ season.message }}
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<div class="row">
  <!--  <label>Search</label>
      <input type="search" class="form-control" ng-model="query" placeholder="search..."> -->
  <div class="card-columns">
    <div ng-repeat="game in game.mySeasonGames | filter:query" class="card">
      <div class="card-header"> Game# {{game.gameNum}}<span class="pull-right text-muted">Week#  {{game.weekNum}}</div><div class="card-block"><blockquote class="card-blockquote text-center"><p> {{game.awayTeam}}<br/> @ <br> {{game.homeTeam}} </p><footer><small class="text-muted">Game Time <cite title="Game Time"> @  {{game.gameTime}}<br> {{game.gameDate | date: fullDate}}</cite></small></footer></blockquote><small class="card-text text-center"></small><small class="pull-left text-muted"> {{game.gameStatus}}</small><small class="pull-right text-muted">Aviation Field</small></div><!--END card --></div>
</div>

