/*========================================
=            Define Variables            =
========================================*/

$aqua: #105B63;
$light-yellow: #FFD34E;
$mustard-yellow: #FFFAD5;
$white: #FFFFFF;
$orange: #BD4932;
