<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Share Your Field</title>
  <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="container">
 <div class="jumbotron">
    <div class="container">
      <h1>Share Your Field Location</h1>
      <p>Help us build a world database of every soccer field on the
      planet.</p>
      <p>
        <a id="shareMyField" onclick="geoFindMe()" class="btn btn-primary btn-lg">Share My location</a>
      </p>
      <div id="field"></div>
    </div>
  </div> 
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/geolocate.js"></script>
</body>
</html>
